numpy
torch
cython
zarr
tqdm
argparse
pandas
neuprint-python
gitpython
-e git+https://github.com/funkelab/funlib.learn.torch.git@master#egg=funlib.learn.torch
-e git+https://github.com/funkelab/synister.git@master#egg=synister
-e git+https://github.com/funkelab/daisy.git@0.3-dev#egg=daisy
-e git+https://github.com/funkelab/funlib.math.git@master#egg=funlib.math
-e git+https://github.com/nilsec/pymaid@master#egg=pymaid
